@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #e5e5e5;
  display: flex;
  padding-top: 5rem;
  justify-content: center;
  overflow: hidden;
  margin: 0;
}

.row {
  display: flex;
  width: 600px;
  justify-content: space-between;
  margin-bottom: 1rem;
  gap: 15px;
}

.col-header {
  min-width: 150px;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 4px;
  padding: 0.8rem 1rem;
  color: #fff;
  flex: 1;
}

.item {
  width: 150px;
  height: 66px;
  border: 1px solid #eee;
  box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.36);
  border-radius: 4px;
  background: #f7f6f7;
  padding: 0.8rem 1rem;
  color: #828282;
  text-align: center;
  cursor: grab;
  user-select: none;
  &:active {
    cursor: grabbing;
  }
  &.selected{
    border: 2px #68e0cf solid;
    box-shadow: 4px 4px 9px rgba(198, 198, 198, 0.66);
  }
  &.hide{
   display: none;
  }
}

.placeholder {
  min-width: 150px;
  min-height: 66px;
  padding: 15px;
  &.over{
    border: 2px #68e0cf dashed;
  }
}

.start {
  background: linear-gradient(90deg, #ff85e4 0%, #229efd 179.25%);
}

.progress {
  background: linear-gradient(90deg, #209cff 0%, #68e0cf 100%);
}

.done {
  background: linear-gradient(90deg, #84fab0 0%, #8fd3f4 100%);
}
